/* styles.css */

body{
	margin: 1rem;
	background-color: black;
	color: whitesmoke;
	font-size: 5rem;
	overflow: hidden;
}

.grid-container {
		display: grid;
		/*grid-template-columns: 1fr 1fr 1fr;*/
		grid-template-columns: repeat(auto-fit, minmax(320px, 11fr));
		gap: 2rem;
}


