/* styles.css */

body{
	margin: 1rem;
	background-color: black;
	color: whitesmoke;
	font-size: 5rem;
	overflow: hidden;
	background-image: url(../img/flames.gif);
	background-repeat: no-repeat;
	background-position: center; 
	background-size: cover;
}

.grid-container {
		display: grid;
		/*grid-template-columns: 1fr 1fr 1fr;*/
		grid-template-columns: repeat(auto-fit, minmax(320px, 11fr));
		gap: 2rem;
		margin: 10% 4rem 0 4rem;
}

.last{
	padding-bottom: 2rem;
	border-bottom: 2px solid rgb(220, 200, 180);
}
